@font-face {
    font-family: "pressstart";
    src: url(pressstart2p-webfont.eot?#iefix) format("embedded-opentype"), url(pressstart2p-webfont.ttf) format("truetype"), url(pressstart2p-webfont.svg#pressstart) format("svg");
    font-weight: 400;
    font-style:  normal;
}

a, button, body, div, dl, dt, em, h1, h2, h3, h4, h5, h6, html, iframe, img, input, label, li, ol, p, span, strong, ul, canvas {
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    outline: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
}

html, body {
    font-size: 8px;
    background-color: #000000;
    height: 100%;
    width: 100%;
    overflow: hidden;
    color: #FFFFFF;
    font-family: pressstart, VT100, system, sans-serif;
    line-height: 12px;
    position: fixed;
}

body, #skills p, #milestones p {
    cursor: url(cursor.cur);
    cursor: url(cursor.png), auto;
}

button {
    font-family: pressstart, VT100, system, sans-serif;
}

#itemmenu button {
    display: block;
    margin: 0;
    width: 100%;
    padding: 4px 8px;
}

.fontstyle, .fontstyle button {
    font-size: 12px;
    font-weight: 900;
    line-height: 14px;
    font-family: sans-serif;
}

.smallwindow {
    width: 816px;
    height: 816px;
    left: 50%;
    top: 50%;
    margin-top: -408px;
    margin-left: -408px;
}

#oldbrowser {
    top: 100px;
    width: 800px;
    left: 50%;
    background: #333;
    padding: 25px;
    margin-left: -425px;
    border: 1px #222 solid;
    position: absolute;
    text-align: center;
    z-index: 6;
}

#oldbrowser h2 {
    margin-bottom: 20px;
    font-size: 16px;
}

#oldbrowser h3 {
    font-size: 14px;
    line-height: 150%;
}

#oldbrowser a {
    color: #fff;
    text-decoration: none;
}

#miniMapCanvas, .item, .equip, #game, #overlay, #light, .ui-dialog .ui-dialog-titlebar-close, .ui-dialog .ui-dialog-content, #map {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

#game, #overlay, #title, #light, #map {
    font-family: pressstart, VT100, system, sans-serif;
    line-height: 0;
    position: absolute;
}

#map {
    width: 1024px;
    height: 512px;
    z-index: 100;
    display: none;
}

#messageoverlay {
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    pointer-events: none;
    max-width: 75%;
}

#messageoverlay p {
    background: rgba(4, 4, 4, 0.4);
    text-shadow: 1px 1px 0 #000000;
    padding: 0 5px;
}

#hud {
    position: absolute;
    z-index: 999;
    bottom: 0;
    left: 0;
    width: 100%;
    display: none;
    vertical-align: bottom;
    pointer-events: none;
}

.window {
    display: none;
}

#hud button, #hud .quickslots, input {
    pointer-events: auto;
}

#hud .subcont {
    display: table-cell;
    vertical-align: bottom;
}

#hud #cont {
    display: table-row;
    vertical-align: bottom;
}

#miniMapCanvas {
    margin-bottom: -2px;
}

.quickslots {
    min-width: 119px;
}

.map {
    min-width: 222px;
}

.options {
    min-width: 100px;
    padding-bottom: 1px;
}

#optionswindow p {
    margin-top: 10px;
    margin-top: 10px;
}

#optionswindow p:first-child {
    margin-top: 0;   
}

.options button {
    width: 100px;
    background: rgba(4, 4, 4, 0.8);
}

.hotkey {
    position: absolute;
    z-index: 1;
    left: 24px;
    top: 22px;
}

.stats {
    width: 100%;
}

.attributes {
    text-shadow: 1px 1px 0 #000000;
    background: rgba(4, 4, 4, 0.8);
    padding: 3px 2px 3px 6px;
    margin: 2px 3px 2px 2px;
    width: auto;
}

.attributes span {
    padding-right: 10px;
}

#healthcont, #hungercont, #staminacont, #thirstcont {
    background: rgba(4, 4, 4, 0.8);
    text-shadow: 1px 1px #000000;
    padding: 2px;
    margin: 2px 3px 2px 2px;
}

#health, #hunger, #stamina, #thirst {
    width: 100%;
}

#health p, #hunger p, #stamina p, #thirst p {
    padding-left: 3px;
    display: block;
    white-space: nowrap;
}

#health {
    background: #FF001D;
}

#hunger {
    background: #B200FF;
}

#stamina {
    background: #00ea0b;
}

#thirst {
    background: #007FFF;
}

#skills p:hover, #milestones p:hover {
    color: #00ea0b;
}

.bad {
    color: #FF001D;
}

.skill, #defense {
    color: #44D0FF;
}

.attack, #attack {
    color: #FFE100;
}

.good, #talent {
    color: #93FF28;
}

.stat, a {
    color: #FF9900;
}

.miss {
    color: #B200FF;
}

a:hover {
    text-decoration: none;
}

#inventorywindow p, #options p {
    padding-top: 15px;
}

#inventorywindow p:first-child, #options p:first-child {
    padding-top: 0;
}

#inventorywindow p {
    clear: both;
}

/* Opens the inventory element up. */
#inventory {
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
}

#inventory li, #craft div, .equip li, .equip, #container li, .quickslots li, .quickslot {
    margin: 1px;
    width: 32px;
    height: 32px;
    float: left;
    cursor: move;
    border: 1px #222 solid;
}

.equip, .quickslot {
    width: 34px;
    height: 34px;
    border: none;
}

.equip li {
    background-color: #4d4d4d;   
}

.quickslot {
    margin: 2px;
    cursor: default;
}

ul.sortable {
    list-style-type: none;
    float: left;
}

ul#inventory, ul#container {
    width: 100%;
    min-height: 32px;
}

ul#container {
    min-height: 100%;
}

.quickslot {
    position: relative;
    z-index: 0;
    background: rgba(4, 4, 4, 0.8);
}

.quickslots li {
    margin: 0;
}

.ui-sortable-helper {
    display: block !important;
}

#craft div {
    cursor: pointer;
}

.crafted {
    opacity: .20;
}

.equip li {
    margin: 0;
}

.equip {
    background: url(../images/equip.png);
    cursor: default;
}

#inventory li img, #craft div img, .equip li img, #container li img {
    width: 100%;
    height: 100%;
}

#tooltip strong {
    color: #782BAE;
}

#tooltip, #itemmenu {
    display: none;
}

.exceptional {
    border-color: #FFD700 !important;
    box-shadow: inset 0 0 10px rgba(255, 215, 0, 0.6);
}

.legendary {
    border-color: #782BAE !important;
    box-shadow: inset 0 0 10px rgba(120, 43, 174, 0.6);
}

.remarkable {
    border-color: #2756A8 !important;
    box-shadow: inset 0 0 10px rgba(39, 86, 168, 0.6);
}

.damaged {
    border-color: #FF001D !important;
    box-shadow: inset 0 0 10px rgba(255, 0, 29, 0.6);
}

#head {
    background-position: -96px 0;
}

#neck {
    background-position: -192px 0;
}

#righthand {
    background-position: -128px 0;
}

#lefthand {
    background-position: -224px 0;
}

#chest {
    background-position: -32px 0;
}

#legs {
    background-position: -160px 0;
}

#feet {
    background-position: -64px 0;
}

#hands {
    background-position: -256px 0;
}

#back {
    background-position: -288px 0;
}

#game {
    z-index: 1;
}

#overlay {
    z-index: 2;
}

#title {
    z-index: 3;
}

#light {
    z-index: 4;
}

#loading {
    position: absolute;
    background: rgba(4, 4, 4, 0.8);
    width: 100%;
    height: 100%;  
}

.clock {
    position: relative;
    top: 50%;
    left: 50%;
    margin-left: -42px;
    margin-top: -42px;
    background: rgba(4, 4, 4, 0.8);
    padding: 10px;
    border: 1px #333 solid;
}

button, input {
    font-size: 8px;
    background: #000000;
    border: 1px solid #333333;
    padding: 4px 3px 3px 3px;
    margin: 1px 2px;
    cursor: pointer;
    color: #FFFFFF;
}

.filter {
    float: right;
    padding: 5px 5px 5px 5px;
    width: 120px;
}

#main-menu button {
    width: 100%;
    margin: 0 0 5px;
}

#main-menu #saveAndExit, #main-menu #daily-challenge-mode {
    margin-bottom: 20px;
}

#main-menu h3 {
    margin: 10px 0;
    text-align: center;
    font-size: 12px;
}

.warning {
    background: #FF001D;
}

input {
    cursor: text;
}

button:hover {
    background: #333333;
    border: 1px solid #666666;
}

#tooltip, #itemmenu {
    position: absolute;
    z-index: 9999;
    background: rgba(4, 4, 4, 0.925);
    padding: 10px;
    max-width: 300px;
    border: 1px #000 solid;
}

#itemmenu {
    background: none;
    border: none;
    padding: 10px;
}

.item {
    background: url(../images/itemset.png);
    background-size: 2048px 128px;
}

#inventory li:hover, #container li:hover, #craft div:hover, #inventory .hover, .hover {
    border: 1px #FFFFFF solid !important;
    border-radius: 0;
}

#craft div.crafted:hover {
    border: 1px #FF001D solid;
}

.log{background-position:-1056px 0;}
.branch{background-position:-288px 0;}
.ironore{background-position:-832px 0;}
.leaves{background-position:-992px 0;}
.leafbedroll{background-position:-928px 0;}
.largerock{background-position:-896px 0;}
.redmushroom{background-position:-1664px 0;}
.sharprock{background-position:-1824px 0;}
.stones{background-position:-1984px 0;}
.mushrooms{background-position:-1120px 0;}
.stoneshovel{background-position:-1472px 0;}
.stoneaxe{background-position:-1344px 0;}
.soil{background-position:-1920px 0;}
.fertilesoil{background-position:-512px 0;}
.pileofsand{background-position:-1280px 0;}
.pileofgravel{background-position:-1248px 0;}
.sandstone{background-position:-1216px 0;}
.peat{background-position:-1184px 0;}
.earthworm{background-position:-448px 0;}
.bone{background-position:-256px 0;}
.twigs{background-position:-2304px -32px;}
.treebark{background-position:-2208px -32px;}
.amber{background-position:0 0;}
.fossil{background-position:-640px 0;}
.treefungus{background-position:-2240px -32px;}
.redberries{background-position:-1632px 0;}
.sapling{background-position:-1728px 0;}
.kindling{background-position:-864px 0;}
.smoothrock{background-position:-1888px 0;}
.treevine{background-position:-2272px -32px;}
.feather{background-position:-480px 0;}
.mortarandpestle{background-position:-1088px 0;}
.arrow{background-position:-64px 0;}
.woodenarrow{background-position:-1312px 0;}
.woodenpole{background-position:-2368px -32px;}
.strippedbark{background-position:-2080px -32px;}
.arrowhead{background-position:-96px 0;}
.thistleseeds{background-position:-2176px -32px;}
.seaweed{background-position:-1760px 0;}
.cobblestonefloor{background-position:-384px 0;}
.flowerseeds{background-position:-608px 0;}
.grassseeds{background-position:-800px 0;}
.woodenspear{background-position:-1504px 0;}
.spear{background-position:-1952px 0;}
.barktunic{background-position:-224px 0;}
.barkleggings{background-position:-160px 0;}
.barkshield{background-position:-192px 0;}
.rawmeat{background-position:-1600px 0;}
.goldensword{background-position:-768px 0;}
.goldenring{background-position:-736px 0;}
.goldcoins{background-position:-672px 0;}
.goldenchalice{background-position:-704px 0;}
.string{background-position:-2048px -32px;}
.rope{background-position:-1696px 0;}
.raft{background-position:-1568px 0;}
.fireplough{background-position:-576px 0;}
.tannin{background-position:-2144px -32px;}
.animalskull{background-position:-32px 0;}
.skullcap{background-position:-1856px 0;}
.limestone{background-position:-1024px 0;}
.leather{background-position:-960px 0;}
.tannedleather{background-position:-2112px -32px;}
.charcoal{background-position:-352px 0;}
.wovenfabric{background-position:-1408px 0;}
.cactusneedle{background-position:-1440px 0;}
.cactusspines{background-position:-320px 0;}
.waterskin{background-position:-2336px -32px;}
.cookedmeat{background-position:-416px 0;}
.stonewall{background-position:-2016px 0;}
.nopal{background-position:-1152px 0;}
.sharpglass{background-position:-1792px 0;}
.ashpile{background-position:-128px 0;}
.seawaterwaterskin{background-position:-544px 0;}
.suture{background-position:-1536px 0;}
.bandage{background-position:-1376px 0;}
.peatbandage{background-position:-2400px -32px;}
.bow{background-position:-2432px -32px;}
.bowdrill{background-position:-2464px -32px;}
.fishingnet{background-position:-2496px -32px;}
.rawtrout{background-position:-2528px -32px;}
.cookedtrout{background-position:-2560px -32px;}
.campfire{background-position:-2592px -32px;}
.treevinewhip{background-position:-2624px -32px;}
.pileofsnow{background-position:-2656px -32px;}
.barktorch{background-position:-2688px -32px;}
.barktorch_lit{background-position:-2720px -32px;}
.handdrill{background-position:-2752px -32px;}
.smallbag{background-position:-2784px -32px;}
.shale{background-position:-2816px -32px;}
.sharpenedbone{background-position:-2848px -32px;}
.grindstone{background-position:-2880px -32px;}
.rawfishsteak{background-position:-2912px -32px;}
.cookedfishsteak{background-position:-2944px -32px;}
.desalinatedwaterwaterskin{background-position:-2976px -32px;}
.boatpaddle{background-position:-3008px -32px;}
.bullboat{background-position:-3040px -32px;}
.refinedsand{background-position:-3072px -32px;}
.spyglass{background-position:-3104px -32px;}
.flask{background-position:-3136px -32px;}
.rawclay{background-position:-3168px -32px;}
.rawclayblowpipe{background-position:-3200px -32px;}
.clayblowpipe{background-position:-3232px -32px;}
.leatherbelt{background-position:-3264px -32px;}
.leathertunic{background-position:-3296px -32px;}
.leatherboots{background-position:-3328px -32px;}
.leathercap{background-position:-3360px -32px;}
.leathergorget{background-position:-3392px -32px;}
.leatherpants{background-position:-3424px -32px;}
.leathergloves{background-position:-3456px -32px;}
.furnace{background-position:-3488px -32px;}
.kiln{background-position:-3520px -32px;}
.irontongs{background-position:-3552px -32px;}
.talc{background-position:-3584px -32px;}
.talcumpowder{background-position:-3616px -32px;}
.sandcastflask{background-position:-3648px -32px;}
.lens{background-position:-3680px -32px;}
.plantroots{background-position:-3712px -32px;}
.lockpick{background-position:-3744px -32px;}
.boneneedle{background-position:-3776px -32px;}
.pineapple{background-position:-3808px -32px;}
.tatteredmap{background-position:-3840px -32px;}
.coal{background-position:-3872px -32px;}
.wroughtiron{background-position:-3904px -32px;}
.limestonepowder{background-position:-3936px -32px;}
.ironingot{background-position:-3968px -32px;}
.backpack{background-position:-4000px -32px;}
.rottenmeat{background-position:-4032px -32px;}
.stonehammer{background-position:-4064px -32px;}
.rawchicken{background-position:-4096px -64px;}
.cookedchicken{background-position:-4128px -64px;}
.forgeandanvil{background-position:-4160px -64px;}
.woodenchest{background-position:-4192px -64px;}
.ironsword{background-position:-4224px -64px;}
.ironbreastplate{background-position:-4256px -64px;}
.ironboots{background-position:-4288px -64px;}
.ironhelmet{background-position:-4320px -64px;}
.irongorget{background-position:-4352px -64px;}
.irongreaves{background-position:-4384px -64px;}
.irongauntlets{background-position:-4416px -64px;}
.ironshield{background-position:-4448px -64px;}
.sandstonewall{background-position:-4480px -64px;}
.sandstonefloor{background-position:-4512px -64px;}
.spidersilk{background-position:-4544px -64px;}
.animalfat{background-position:-4576px -64px;}
.animalfattorch{background-position:-4608px -64px;}
.clayflakes{background-position:-4640px -64px;}
.greensand{background-position:-4672px -64px;}
.oldinstructionalscroll{background-position:-4704px -64px;}
.slimegelatin{background-position:-4736px -64px;}
.glue{background-position:-4768px -64px;}
.cookedspider{background-position:-4800px -64px;}
.deadspider{background-position:-4832px -64px;}
.ironlockpick{background-position:-4864px -64px;}
.rottingvegetation{background-position:-4896px -64px;}
.wildonion{background-position:-4928px -64px;}
.ironhammer{background-position:-4960px -64px;}
.ironspear{background-position:-4992px -64px;}
.ironshovel{background-position:-5024px -64px;}
.irondoubleaxe{background-position:-5056px -64px;}
.ironpickaxe{background-position:-5088px -64px;}
.torchstand{background-position:-5120px -64px;}
.coconut{background-position:-5152px -64px;}
.palmleaf{background-position:-5184px -64px;}
.offal{background-position:-5216px -64px;}
.bones{background-position:-5248px -64px;}
.poletorch_lit{background-position:-5280px -64px;}
.cotton{background-position:-5312px -64px;}
.cottonseeds{background-position:-5344px -64px;}
.cottonfabric{background-position:-5376px -64px;}
.bonepole{background-position:-5408px -64px;}
.tourniquet{background-position:-5440px -64px;}
.wroughtironpickaxe{background-position:-5472px -64px;}
.wroughtirondoubleaxe{background-position:-5504px -64px;}
.wroughtironshovel{background-position:-5536px -64px;}
.wroughtironspear{background-position:-5568px -64px;}
.wroughtironhammer{background-position:-5600px -64px;}
.wroughtironlockpick{background-position:-5632px -64px;}
.wroughtironshield{background-position:-5664px -64px;}
.wroughtirongauntlets{background-position:-5696px -64px;}
.wroughtirongreaves{background-position:-5728px -64px;}
.wroughtirongorget{background-position:-5760px -64px;}
.wroughtironhelmet{background-position:-5792px -64px;}
.wroughtironboots{background-position:-5824px -64px;}
.wroughtironbreastplate{background-position:-5856px -64px;}
.wroughtironsword{background-position:-5888px -64px;}
.woodenwall{background-position:-5920px -64px;}
.woodenfloor{background-position:-5952px -64px;}
.woodendoor{background-position:-5984px -64px;}
.fishingrod{background-position:-6016px -64px;}
.messageinabottle{background-position:-6048px -64px;}
.carbonpowder{background-position:-6080px -64px;}
.pileofcompost{background-position:-6112px -64px;}
.meltedamber{background-position:-6144px -96px;}
.tinder{background-position:-6176px -96px;}
.deadfall{background-position:-6208px -96px;}
.snare{background-position:-6240px -96px;}
.medicinalwaterwaterskin{background-position:-6272px -96px;}
.charcoalbandage{background-position:-6304px -96px;}
.woodentongs{background-position:-6336px -96px;}
.wroughtirontongs{background-position:-6368px -96px;}
.sheetofglass{background-position:-6400px -96px;}
.solarstill{background-position:-6432px -96px;}
.stonewaterstill{background-position:-6464px -96px;}
.sundial{background-position:-6496px -96px;}
.animalfattorch_lit{background-position:-6528px -96px;}
.sinew{background-position:-6560px -96px;}
.shortbow{background-position:-6592px -96px;}
.longbow{background-position:-6624px -96px;}
.compositebow{background-position:-6656px -96px;}
.purifiedfreshwaterwaterskin{background-position:-6688px -96px;}
.unpurifiedfreshwaterwaterskin{background-position:-6720px -96px;}
.glassbottle{background-position:-6752px -96px;}
.cork{background-position:-6784px -96px;}
.seawaterglassbottle{background-position:-6816px -96px;}
.desalinatedwaterglassbottle{background-position:-6848px -96px;}
.medicinalwaterglassbottle{background-position:-6880px -96px;}
.purifiedfreshwaterglassbottle{background-position:-6912px -96px;}
.unpurifiedfreshwaterglassbottle{background-position:-6944px -96px;}
.wroughtironarrow{background-position:-6976px -96px;}
.ironarrow{background-position:-7008px -96px;}
.stonebullet{background-position:-7040px -96px;}
.wroughtironbullet{background-position:-7072px -96px;}
.ironbullet{background-position:-7104px -96px;}
.leatherquiver{background-position:-7136px -96px;}
.ectoplasm{background-position:-7168px -96px;}
.magicalessense{background-position:-7200px -96px;}
.woodenfence{background-position:-7232px -96px;}
.monsteridol{background-position:-7264px -96px;}
.cordedsling{background-position:-7296px -96px;}
.leathersling{background-position:-7328px -96px;}
.wroughtironarrowhead{background-position:-7360px -96px;}
.ironarrowhead{background-position:-7392px -96px;}
.hammock{background-position:-7424px -96px;}
.cottonbedroll{background-position:-7456px -96px;}
.featherbedroll{background-position:-7488px -96px;}
.rawtaintedmeat{background-position:-7520px -96px;}
.cookedtaintedmeat{background-position:-7552px -96px;}
.stoneknife{background-position:-7584px -96px;}
.rawblindfish{background-position:-7616px -96px;}
.cookedblindfish{background-position:-7648px -96px;}

.ui-helper-hidden {
    display: none;
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.ui-helper-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none;
}

.ui-helper-clearfix:before, .ui-helper-clearfix:after {
    content: "";
    display: table;
}

.ui-helper-clearfix:after {
    clear: both;
}

.ui-helper-clearfix {
    min-height: 0;
}

.ui-helper-zfix {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
}

.ui-state-disabled {
    cursor: default !important;
}

.ui-icon {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
}

.ui-front {
    z-index: 1000;
}

.ui-widget-overlay {
    background: rgba(0, 0, 0, 0.85);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.ui-modal {
    z-index: 10000;
}

.ui-resizable {
    position: relative;
}

.ui-resizable-handle {
    position: absolute;
    font-size: 0.1px;
    display: block;
}

.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle {
    display: none;
}

.ui-resizable-n {
    cursor: n-resize;
    height: 7px;
    width: 100%;
    top: -5px;
    left: 0;
}

.ui-resizable-s {
    cursor: s-resize;
    height: 7px;
    width: 100%;
    bottom: -5px;
    left: 0;
}

.ui-resizable-e {
    cursor: e-resize;
    width: 7px;
    right: -5px;
    top: 0;
    height: 100%;
}

.ui-resizable-w {
    cursor: w-resize;
    width: 7px;
    left: -5px;
    top: 0;
    height: 100%;
}

.ui-resizable-se {
    cursor: se-resize;
    width: 12px;
    height: 12px;
    right: 1px;
    bottom: 1px;
}

.ui-resizable-sw {
    cursor: sw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    bottom: -5px;
}

.ui-resizable-nw {
    cursor: nw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    top: -5px;
}

.ui-resizable-ne {
    cursor: ne-resize;
    width: 9px;
    height: 9px;
    right: -5px;
    top: -5px;
}

.ui-button {
    display: inline-block;
    position: relative;
    line-height: normal;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    overflow: visible;
    margin-right: 2px;
}

.ui-button, .ui-button:link, .ui-button:visited, .ui-button:hover, .ui-button:active {
    text-decoration: none;
}

.ui-button-icon-only {
    width: 2.2em;
}

button.ui-button-icon-only {
    width: 2.4em;
}

.ui-button-icons-only {
    width: 3.4em;
}

button.ui-button-icons-only {
    width: 3.7em
}

.ui-button .ui-button-text {
    display: block;
    line-height: normal;
    padding: 4px 3px 3px 3px;
    margin-right: 1px;
}

.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text {
    padding: .4em;
    text-indent: -9999999px;
}

.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text {
    padding: .4em 1em .4em 2.1em;
}

.ui-button-text-icon-secondary .ui-button-text, .ui-button-text-icons .ui-button-text {
    padding: .4em 2.1em .4em 1em;
}

.ui-button-text-icons .ui-button-text {
    padding-left: 2.1em;
    padding-right: 2.1em;
}

.ui-button-icon-only .ui-icon, .ui-button-text-icon-primary .ui-icon, .ui-button-text-icon-secondary .ui-icon, .ui-button-text-icons .ui-icon, .ui-button-icons-only .ui-icon {
    position: absolute;
    top: 50%;
    margin-top: -8px;
}

.ui-button-icon-only .ui-icon {
    left: 50%;
    margin-left: -8px;
}

.ui-button-text-icon-primary .ui-button-icon-primary, .ui-button-text-icons .ui-button-icon-primary, .ui-button-icons-only .ui-button-icon-primary {
    left: .5em;
}

.ui-button-text-icon-secondary .ui-button-icon-secondary, .ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary {
    right: .5em;
}

.ui-buttonset {
    margin-right: 7px;
}

.ui-buttonset .ui-button {
    margin-left: 0;
    margin-right: -.3em;
}

input.ui-button::-moz-focus-inner, button.ui-button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.ui-dialog {
    position: absolute;
    top: 0;
    left: 0;
    outline: 0;
}

.ui-dialog .ui-dialog-titlebar {
    padding: 6px 6px 8px 6px;
    position: relative;
    background: rgba(4, 4, 4, 0.8);
}

.ui-dialog .ui-dialog-title {
    float: left;
    white-space: nowrap;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ui-dialog .ui-dialog-titlebar-close {
    background: url(../images/close.png);
    position: absolute;
    right: 2px;
    top: 2px;
    width: 20px;
    padding: 1px;
    height: 20px;
}

.ui-dialog .ui-dialog-content {
    position: relative;
    border: 0;
    padding: 5px;
    overflow: auto;
    background: url(../images/dialog-trans.png);
}

.ui-dialog:hover .ui-dialog-content, .ui-modal.ui-dialog .ui-dialog-content {
    background: url(../images/dialog.png);
}

.ui-dialog .ui-dialog-buttonpane {
    text-align: left;
    background: rgba(4, 4, 4, 0.8);
    padding: 2px 0 2px 2px;
}

.ui-dialog:hover .ui-dialog-titlebar, .ui-dialog:hover .ui-dialog-buttonpane, .ui-modal.ui-dialog .ui-dialog-titlebar {
    background: rgb(4, 4, 4);
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: right;
}

.ui-dialog .ui-resizable-se {
    width: 12px;
    height: 12px;
    right: -5px;
    bottom: -5px;
    background-position: 16px 16px;
}

.ui-draggable .ui-dialog-titlebar {
    cursor: move;
}

@media all and (max-height: 800px), all and (max-width: 800px) {
    #messageoverlay {
        max-width: 100%;
    }

    .map {
        min-width: 114px;
    }

    #miniMapCanvas {
        width: 114px;
        height: 114px;
    }

    .second-row {
        position: absolute;
        bottom: 115px;
        left: 0;
        width: 100px;
        min-width: 0;
    }
}